body{
	margin: 0 0 0 0;
	background:url(../img/pattern.jpg);
}
header{
	display: flex;
	justify-content: space-between;
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
ul{
	list-style: none;
}
li{
	margin: 0 20px 0 10px;
	display: inline;
}
a{
	text-decoration: none;
}
section{
	background-color: white;
	padding: 20px 320px 20px;
	margin: 100px;
}
h1{
	text-align: center;
}
article{
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
footer{
	background-color: black;
	padding: 5px;
}
h5{
	color: white;
	text-align: center;
}